<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ECharts</title>
  <script src="/node_modules/echarts/dist/echarts.min.js"></script>
</head>
<body>
  <div id="main" style="width: 1000px;height:800px;"></div>
  <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var a = [{
      "time": "2022-04-10",
      "cstotal": 100,
      "qztotal": 100,
      "child": {
        "新一线城市": {
          "cstotal": 1,
          "qztotal": 17,
        },
        "五级及以下城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "四线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        
       
        "二线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        
        "三线街道": {
          "cstotal": 10,
          "qztotal": 10,
        }
      }
    }, {
      "time": "2022-04-11",
      "cstotal": 100,
      "qztotal": 100,
      "child": {
        "新一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "五级及以下城市": {
          "cstotal": 11,
          "qztotal": 11,
        },
        "一线城市": {
          "cstotal": 9,
          "qztotal": 9,
        },
        "四线城市": {
          "cstotal": 8,
          "qztotal": 8,
        },
       
       
        "二线城市": {
          "cstotal": 15,
          "qztotal": 15,
        },
        
        "三线街道": {
          "cstotal": 9,
          "qztotal": 9,
        }
      }
    },{
      "time": "2022-04-12",
      "cstotal": 100,
      "qztotal": 100,
      "child": {
        "新一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "五级及以下城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "四线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        
        "二线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
       
        "三线街道": {
          "cstotal": 10,
          "qztotal": 10,
        }
      }
    },{
      "time": "2022-04-13",
      "cstotal": 100,
      "qztotal": 100,
      "child": {
        "新一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "五级及以下城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "四线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
       
        
        "二线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        
        "三线街道": {
          "cstotal": 10,
          "qztotal": 10,
        }
      }
    },{
      "time": "2022-04-14",
      "cstotal": 100,
      "qztotal": 100,
      "child": {
        "新一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "五级及以下城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "四线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
       
       
        "二线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
       
        "三线街道": {
          "cstotal": 10,
          "qztotal": 10,
        }
      }
    },{
      "time": "2022-04-15",
      "cstotal": 100,
      "qztotal": 100,
      "child": {
        "新一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "五级及以下城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "四线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
      
       
        "二线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
       
        "三线街道": {
          "cstotal": 10,
          "qztotal": 10,
        }
      }
    },{
      "time": "2022-04-16",
      "cstotal": 100,
      "qztotal": 100,
      "child": {
        "新一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "五级及以下城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "四线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        
        "二线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        
        "三线街道": {
          "cstotal": 10,
          "qztotal": 10,
        }
      }
    },{
      "time": "2022-04-17",
      "cstotal": 100,
      "qztotal": 100,
      "child": {
        "新一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "五级及以下城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "一线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "四线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
       
       
        "二线城市": {
          "cstotal": 10,
          "qztotal": 10,
        },
        "三线街道": {
          "cstotal": 10,
          "qztotal": 10,
        }
      }
    }]
    var b = []

    var option = {
      tooltip: {
        trigger: 'axis',
        // formatter:'{c}%',
        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
          type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        },
        formatter: function (params) {//这里就是控制显示的样式
          let relVal = params[0].name;
          let value = 0;
          for (let i = 0, l = params.length; i < l; i++) {
            value += params[i].value;
          }
          for (let i = 0, l = params.length; i < l; i++) {
            //marker 就是带颜色的小圆圈 seriesName x轴名称  value  y轴值 后面就是计算百分比
            relVal += '<br/>' + params[i].marker + params[i].seriesName
			 + ', 百分比 : '
              + (100 * parseFloat(isNaN(params[i].value) ? 0 : params[i].value) / parseFloat(value)).toFixed(2) + "%";
          }
          return relVal;
        }
      },
      legend: {
        textStyle: {
          color: "#4FA0FF",
          fontSize: "10px"
        }
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          data: ['淘宝', '拼多多', '京东', '淘特', '唯品会', '手机天猫']
        }
      ],
      yAxis: [
        {
          type: "value",
          name: "数量百分比",
          position: 'left',
          alignTicks: true,
          axisLine: {
            show: true,
            lineStyle: {
              color: "#B5B7BA"
            }
          },
          axisLabel: { //y轴设置为%
            show: true,
            interval: 'auto',
            formatter: '{value} %',
          },
          splitLine: { show: false }
        }
      ],
      series: [
        {
          name: '五级及以下城市',
          barWidth: 20,
          type: 'bar',
          symbol: 'rect',
          symbolSize: [30, 10],
          symbolRepeat: true,
          color: "#309EF8",
          stack: 'jd',
          label: {
            show: true,
            position: 'insideLeft',//在左边显示
            formatter: '{c}%'// 给计算后的数值添加%
          },
          data: initData('fbjd'),
          z: 1,
        },
        {
          name: '四线城市',
          barWidth: 20,
          type: 'bar',
          symbol: 'rect',
          symbolSize: [30, 10],
          symbolRepeat: true,
          color: "#3066F8",
          stack: 'jd',
          label: {
            show: true,
            position: 'insideLeft',//在左边显示
            formatter: '{c}%'// 给计算后的数值添加%
          },
          data: initData('ftjd'),
          z: 1,
        },
        {
          name: '三线城市',
          barWidth: 20,
          type: 'bar',
          symbol: 'rect',
          symbolSize: [30, 10],
          symbolRepeat: true,
          color: "#6230F8",
          stack: 'jd',
          label: {
            show: true,
            position: 'insideLeft',//在左边显示
            formatter: '{c}%'// 给计算后的数值添加%
          },
          data: initData('hfjd'),
          z: 1,
        },
        {
          name: '二线城市',
          barWidth: 20,
          type: 'bar',
          symbol: 'rect',
          symbolSize: [30, 10],
          symbolRepeat: true,
          color: "#B130F8",
          stack: 'jd',
          label: {
            show: true,
            position: 'insideLeft',//在左边显示
            formatter: '{c}%'// 给计算后的数值添加%
          },
          data: initData('hqbjd'),
          z: 1,
        },
        {
          name: '新一线城市',
          barWidth: 20,
          type: 'bar',
          symbol: 'rect',
          symbolSize: [30, 10],
          symbolRepeat: true,
          color: "#A190FF",
          stack: 'jd',
          label: {
            show: true,
            position: 'insideLeft',//在左边显示
            formatter: '{c}%'// 给计算后的数值添加%
          },
          data: initData('lhjd'),
          z: 1,
        },
        {
          name: '一线城市',
          barWidth: 20,
          type: 'bar',
          symbol: 'rect',
          symbolSize: [30, 10],
          symbolRepeat: true,
          color: "#90CFFF",
          stack: 'jd',
          label: {
            show: true,
            position: 'insideLeft',//在左边显示
            formatter: '{c}%'// 给计算后的数值添加%
          },
          data: initData('mljd'),
          z: 1,
        },
       
        
        
      ]
    };

    //使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    //计算各数据占比
    function initData(val) {
      var serie = [];
      for (var i = 0; i < a.length; i++) {
        var num = 0
        if (val == 'fbjd') {
          num = a[i].child.五级及以下城市.qztotal
        } else if (val == 'ftjd') {
          num = a[i].child.四线城市.qztotal
        } else if (val == 'hfjd') {
          num = a[i].child.三线街道.qztotal
        } else if (val == 'hqbjd') {
          num = a[i].child.二线城市.qztotal
        } else if (val == 'lhjd') {
          num = a[i].child.新一线城市.qztotal
        } else if (val == 'mljd') {
          num = a[i].child.一线城市.qztotal
        } 
        var total = (parseFloat(a[i].child.五级及以下城市.qztotal) + parseFloat(a[i].child.四线城市.qztotal) + parseFloat(a[i].child.三线街道.qztotal)
          + parseFloat(a[i].child.二线城市.qztotal) + parseFloat(a[i].child.新一线城市.qztotal) + parseFloat(a[i].child.一线城市.qztotal)
          ).toFixed(2);
        var numcount = Percentage(num, total)
        serie.push({ num: num, value: numcount });
      }
      return serie;
    }

    //定义计算方法
    function Percentage(num, total) {
      return (Math.round(num / total * 10000) / 100);// 小数点后两位百分比
    }

  </script>
</body>
</html>
